<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EBNJ - DASHBOARD</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- JSONES CUTRES-->
    <script id="JSONData" type="application/json">{"infected":[0,55,120,1000,10000,7700,6895,8000,6000,5500,3000,1090],"susceptible":[2500,6500,4200,4000,3000,200,6895,8000,6000,5500,3000,1090],
      "removed":[0,2,75,222,315,770,695,500,6000,5500,3000,1090],"circulo":[100,77,25],"regions":{"cat":{
        "population":{"x":[[4,5,6,7,1,2,3,4],[4,0,1,5,1,5,2,4]],
                      "y":[[0,8,0,8,0,5,1,2],[4,5,6,7,1,2,3,4]],   
                      "state":[[0,0,1,1],[]]}}}}</script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid" style="margin-top: 25px;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>      

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">New infected</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">People state</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Infected
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Recovered
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Uninfected
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <div class="wrapper">

        <!--<div id="tester"></div> -->
        
        <div class="row">        
          <div id="myDiv" class="col-lg-4"></div>
          <div id="myDiv2" class="col-lg-4"></div>
          <div id="myDiv3" class="col-lg-4"></div>
        </div>

        <script>
          function getData(){
            return Math.random();
          }
          TESTER = document.getElementById('tester');
          Plotly.plot('tester',[{
            y:[getData()],
            type:'line'
          }])
    
          setInterval(function() {
            Plotly.extendTraces('tester', { y: [[getData()]] }, [0])
          }, 200);
        </script>

        <script id="graficos">
         var inputData = document.getElementById("JSONData").innerHTML;
          var n = 2;
          var x = [], y = [], z = [],xx=[],yy=[];
          var dt = 0.015;
    
          for (i = 0; i < n; i++) {
            x[i] = Math.random() * 2 - 1;
            y[i] = Math.random() * 2 - 1;
            z[i] = 30 + Math.random() * 10;
            xx[i] = 0;
            yy[i] = 0;
          }
    
          Plotly.newPlot('myDiv', [{
            x: x,
            y: z,
            mode: 'markers'
          }], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Valencia',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
              }
          })

          Plotly.newPlot('myDiv2', [{
            x: x,
            y: z,
            mode: 'markers'
          }], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Catalunya',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
              }
          })

          
          Plotly.newPlot('myDiv3', [{
            x: x,
            y: z,
            mode: 'markers'
          }], {
            xaxis: {range: [-40, 40]},
            yaxis: {range: [0, 60]},
            title: {
                text:'Andalucía',
                font: {
                  family: 'Courier New, monospace',
                  size: 24
              },
              }
          })
    
          function compute () {
            var s = 10, b = 8/3, r = 28;
            var dx, dy, dz;
            var xh, yh, zh;
            for (var i = 0; i < n; i++) {
              dx = s * (y[i] - x[i]);
              dy = x[i] * (r - z[i]) - y[i];
              dz = x[i] * y[i] - b * z[i];
    
              xh = x[i] + dx * dt * 0.5;
              yh = y[i] + dy * dt * 0.5;
              zh = z[i] + dz * dt * 0.5;
    
              dx = s * (yh - xh);
              dy = xh * (r - zh) - yh;
              dz = xh * yh - b * zh;
    
              x[i] += dx * dt;
              y[i] += dy * dt;
              z[i] += dz * dt;
            }
          }

          function computeV2(iter){   
            for(var i = 0; i < n; i++){
              xx[i] = puntosX[i][iter];
              yy[i] = puntosY[i][iter];
            }   

          }

          function readJSON(json){
            var myObj = JSON.parse(json);
            puntosX = myObj['regions']['cat']['population']['x'];
            puntosY = myObj['regions']['cat']['population']['y'];
            console.log(JSON.stringify(puntosX));
          }
    
          readJSON(inputData);
          var t = 0;
          var iter = 0;
          function update () {
            compute();
            computeV2(iter);
            iter = iter+1;
            if(iter == 5){
              iter = 0;
            }
            Plotly.animate('myDiv', {
              data: [{x: xx, y: yy}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 10,
                redraw: false
              },

            });
            Plotly.animate('myDiv2', {
              data: [{x: xx, y: yy}]
            }, {
              transition: {
                duration: 0
              },
              frame: {
                duration: 10,
                redraw: false
              }
            });
            requestAnimationFrame(update);
          }
    
          requestAnimationFrame(update);
        </script>
        
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
